<template>
  <q-card class="painel">
    <q-card-section id="tamanho" :class="cor" @dblclick="visivel = !visivel">
      <div class="text-h6">
        {{ titulo }}
        <div class="mini-texto">(Duplo clique para minimizar)</div>
      </div>
    </q-card-section>
    <div class="painel-conteudo">
      <div class="painel-conteudo" v-show="visivel">
        <div class="row">
          <div class="col"></div>
          <div class="col">Resultado</div>
          <div class="col">Valor Base</div>
        </div>
        <div class="row">
          <div class="col">{{nome}}</div>
          <div class="col">{{resultado}}</div>
          <div class="col">{{base}}</div>
        </div>
        <div class="row">
          <div class="col">
            <q-btn @click="disparaAcao()" color="primary" class="full-width" :label="acao"></q-btn>
          </div>
        </div>
      </div>
    </div>
  </q-card>
</template>

<script>
//import { mapGetters, mapActions } from "vuex";
export default {
  props: ["titulo", "nome", "resultado", "base", "cor", "status", "acao"],
  data() {
    return {
      visivel: true,
    };
  },
  methods: {
    disparaAcao() {
      if (this.status === "ativo") {
        return (this.cor = "bg-red text-white");
      } else {
        return alert("Exame desatualizado!");
      }
    },
  },
};
</script>

<style scoped>
#tamanho {
  height: 200px;
  min-width: 100px;
}

.mini-texto {
  font-size: 10px;
}

.col {
  padding: 10px 15px;
  background: MintCream;
  border: 1px solid snow;
  font-weight: 500;
}

.row {
  margin-top: 0.5rem;
  min-width: 350px;
  max-width: 350px;
}

.painel {
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: 5px;
  vertical-align: center;
  text-align: center;
}

.painel-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel .painel-titulo {
  text-align: center;
  border: solid 2px;
  background: lightblue;
  margin: 0 0 15px 0;
  padding: 10px;
  text-transform: uppercase;
}
</style>
