<template>
  <nav>
    <q-bar class="bg-teal text-white" id="botao-centralizado">
      <div>
        <q-btn class="nav" color="primary" label :key="rota" v-for="rota in rotas">
          <router-link class="nav-link" :to="rota.path ? rota.path : '/'">
            {{
            rota.titulo
            }}
          </router-link>
        </q-btn>
      </div>
    </q-bar>
    <div class="background">
      <h3 class="centralizado">{{ titulo }}</h3>
      <h4 class="centralizado-subtitulo">{{ subtitulo }}</h4>
    </div>
  </nav>
</template>

<script>
export default {
  props: ["rotas"],

  data() {
    return {
      titulo: "BITLAB",
      subtitulo: "Organização para exames laboratoriais",
    };
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap");

.background {
  background-image: url("../../../assets/img/background.jpg");
  padding: 5px;
}

#botao-centralizado {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 1) 46%,
    rgba(255, 255, 255, 1) 100%
  );
}

.centralizado {
  text-align: center;
  font-family: "Saira", sans-serif;
  font-size: calc(2em + 1vw);
  color: black;
}

.centralizado-subtitulo {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: whitesmoke;
  font-size: calc(1.5em + 0.75vw);
  margin-top: -50px;
}

.nav {
  margin-right: 6px;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
  margin-left: 6px;
  margin-right: 6px;
}
</style>
