<template>
  <div>
    <h3 class="tema">{{ titulo }}</h3>
    <div class="centro">
      <q-input
        outlined
        v-model="text"
        type="search"
        class="filtro"
        @input.native="filtro = $event.target.value"
        label="Buscar exame"
      />
    </div>
    <div class="centro">
      <ul class="lista-dado">
        <li :key="dados" class="lista-dado-item" v-for="dados of dadosComFiltro">
          <meu-painel
            :titulo="dados.title"
            :nome="dados.text.exam"
            :resultado="dados.text.count"
            :base="dados.text.base"
            :cor="dados.color"
            :status="dados.status"
            :acao="dados.action"
          >
            <meu-botao
              rotulo="remover"
              tipo="button"
              :confirmacao="true"
              @botaoAtivado="remove(dados)"
              estilo="perigo"
            />
          </meu-painel>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Painel from "../shared/painel/Painel.vue";
import json from "./prontuario.json";

export default {
  components: {
    "meu-painel": Painel,
  },

  data() {
    return {
      titulo: "RESULTADOS",
      filtro: "",
      myJson: json,
    };
  },

  computed: {
    dadosComFiltro() {
      if (this.filtro) {
        let exp = new RegExp(this.filtro.trim(), "i");
        return this.myJson.filter((myJson) => exp.test(myJson.title));
      } else {
        return this.myJson;
      }
    },
  },

  methods: {
    remove(foto) {
      alert("Você removeu a foto " + foto.titulo);
    },
  },
};
</script>

<style>
.tema {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: calc(2em + 1vw);
  color: Teal;
}

.titulo {
  text-align: center;
}

.filtro {
  display: block;
  width: 50%;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-dado {
  list-style: none;
}

.lista-dado .lista-dado-item {
  display: inline-block;
}
</style>
