<template>
  <div>
    <h3 class="tema">AGENDAR</h3>
    <q-card class="my-card">
      <h3 class="agendar">Novos exames para: {{ counter }} meses</h3>
      <q-separator></q-separator>
      <div class="botao-centralizado2">
        <q-btn class="nav" color="secondary" @click="decrement()">Diminuir</q-btn>
        <q-btn class="nav" color="secondary" @click="increment()">Aumentar</q-btn>
        <q-btn class="nav" color="primary">Enviar</q-btn>
      </div>
    </q-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "counter",
  computed: { ...mapGetters(["counter"]) },
  methods: {
    ...mapActions(["decrement", "increment"]),
  },
};
</script>
<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.agendar {
  font-size: calc(1em + 0.5vw);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.botao-centralizado2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
</style>
